
@import url('https://fonts.googleapis.com/css?family=Roboto');

html * {
    box-sizing: border-box;
}


body  {
    background: #dde0e6;
    /*box-shadow: 15px 10px 5px #b9cff3;*/
    font-family: 'Roboto', sans-serif;

}

.content-wrapper {
    width: 1000px;
    margin: 0 auto;
    

}

.menu-icon {
    position: absolute;
    right: 10px;
}

.front_image {
   width: 80%;
   margin: 0 auto;
   margin-top: 50px;
    display: block;
    border: 20px solid white;
    box-shadow: 0 0 2px rgb(143, 143, 143);
    border-radius: 3px;
    box-sizing: border-box;
}


.page_1 {
    position: relative;
    background: #fff;
    width: 45%;
    float: left;
    margin-right: 7%;
    padding: 30px;
    height: 832px;
}

h1{
    margin: 20px; 0 0 20px;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: bold;
    
}

h1::first-letter {
    font-size: 65px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}

p {
 font-size: 13px;
}

.page_1 p {
    margin-bottom: 30px;
    text-align: justify;
   
}

.page_1 h4 {
    font-size: 12px;
    font-weight: bold;
}

.dots-group {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 
}

.dots {
    height: 10px;
    width: 10px;
    background-color:#bbb;
    display: inline-block;
    border-radius: 50%;
}

.dots.active {
    background-color: #000000;
}


.page_2 {
    background: #fff;
    width: 45%;
    float: left;
    padding: 30px 30px 30px 60px;
    height: 832px;
    margin-bottom: 100px;
}

.page_2 h2 {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.5; 
    float: left;
    margin: 0;
    
}

.header img {
    width: 13px;
    float: right;
    display: inline-block;
    opacity: 1;
 
}


.clearfix::before,
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.page_2 h3 {
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.3 ; 
    float: left;
    margin: 0;
    margin-bottom: 10px;
}


small {
    /*float: right;
    opacity: 0.3;*/
    color: #999;
	float: right;
	clear: none;
}

article img {
    float: left;
    width: 30%;
    border: 8px solid white;
    box-shadow: 0 0 2px rgb(143, 143, 143);
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 15px;

}

.article-content {
    float: left;
    width: 70%;
    padding-left: 16px;

}

.article-content p {
    /*clear: both;
    margin-left: 15px;*/
    font-size: 12px;
	clear: both;
	margin: 0;
	padding-right: 10px;
	text-align: left;
}

article {
    border-bottom: 1px solid #eee;
    padding: 15px;
}